.background {
  background-image: url(../assets/images/what-the-hex.png);
  padding: 2rem;
}

.container {
  justify-content: space-between;
}

.grey-card {
  background-color: #EDEDED;
  padding: 3rem;
  border-radius: 20px;
}

.left-side {
  max-width: 600px;
  padding-left: 3rem;
  flex: 2;
}

.right-side {
  width: 100%;
  margin-left: 2rem;
  flex: 1;
}

.products {
  max-height: 400px;
  overflow-y: scroll;
}

.order-overview {
  height: 100%;
  border-left: rgb(208, 208, 208) solid 2px;
  padding-left: 1.5rem;
}

.headings {
  margin-top: 1.5rem;
}

form {
  margin: 2rem 0 3rem 0;
  max-width: 30rem;
}

.input-field {
  margin: 1rem 0;
}

.headings h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.headings h3 {
  font-weight: normal;
  color: grey;
  margin: 0;
}

form h5 {
  margin: 2rem 0 .5rem 0;
  font-weight: normal;
}

.move-fwd-btn {
  text-transform: none;
  width: fit-content;
}

.choose-payment-btn {
  width: fit-content;
}

.bottom-row {
  justify-content: space-between;
}

.expiration-date {
  margin-right: 2rem;
}

.expiration-date .fields .input-field {
  width: 8ch;
}

.expiration-date .fields span {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.payment-info-text {
  padding: 0;
  margin-bottom: 1rem;
}

.sms-loan-modal, .swish-modal, .bill-modal {
  margin-bottom: 2rem;
}

.filled-input-field {
  width: 100%;
}

@media (max-width: 950px) {
  .container {
    flex-direction: column-reverse;
  }

  .right-side {
    width: auto;
    max-width: 600px;
  }

  .order-overview {
    border-left: none;
    border-bottom: rgb(208, 208, 208) solid 2px;
    margin: 2rem auto 0 auto;
    padding: 1rem 0;
    max-width: 600px;
  }
}