.background {
  background-image: url(../assets/images/what-the-hex.png);
  padding: 2rem;
}

.container {
  justify-content: space-between;
}

.grey-card {
  background-color: #EDEDED;
  padding: 3rem;
  border-radius: 20px;
}

.left-side {
  max-width: 600px;
  padding-left: 3rem;
  flex: 2;
}

.right-side {
  flex: 1;
  margin-left: 2rem;
}

.order-overview {
  height: 100%;
  border-left: rgb(208, 208, 208) solid 2px;
  padding-left: 1.5rem;
}

.products {
  max-height: 400px;
  overflow-y: scroll;
}

.headings {
  margin-top: 1.5rem;
}

form {
  margin: 2rem 0 3rem 0;
  max-width: 30rem;
}

.input-field {
  margin: 1rem 0;
}

.headings h2 {
  font-size: 1.75rem;
}

.headings h5 {
  margin-bottom: 1.5rem;
}

.headings h3 {
  font-weight: normal;
  color: grey;
  margin: 0;
  margin-bottom: 2.5rem;
}

.order-info-text {
  margin-bottom: 2.5rem;
}

.user-info h3 {
  margin: 1.5rem 0 .5rem 0;
}

.user-info p {
  margin-bottom: .25rem;
  color: grey;
}

.user-info {
  margin-bottom: 3rem;
}

.move-fwd-btn {
  text-transform: none;
}

@media (max-width: 950px) {
  .container {
    flex-direction: column-reverse;
  }

  .right-side {
    width: auto;
    max-width: 600px;
  }

  .order-overview {
    border-left: none;
    border-bottom: rgb(208, 208, 208) solid 2px;
    margin: 2rem auto 0 auto;
    padding: 1rem 0;
    max-width: 600px;
  }
}

@media (max-width: 630px) {
  .right-side {
    margin-left: 0;
    padding-left: 0;
  }
  
  .left-side {
    padding-left: 0;
  }
  
  .order-overview {
    margin-top: 0;
  }
}