.cartContainer {
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

.itemContainer {
  background-color: #EDEDED;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgb(187, 187, 187);
  margin: 1rem 0;
}

.iconContainer svg {
  cursor: pointer;
}

.productImageContainer {
  padding-right: 1rem;
}

.img {
  width: 5rem;
  background-color: lightgray;
}

.numberContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.iconContainer {
  display: flex;
  flex-direction: column;
}

.productInfoText p {
  padding: 0.25rem 0;
}

.productInfoText {
  padding: 0 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: .5rem 0;
}
