.admin-product {
  background: rgb(245, 245, 245);
  padding: 3rem 4rem 1rem 4rem;
  box-sizing: border-box;
  /* max-width: 400px; */
}

.admin-product-name {
  margin: 2rem 0 1rem 0;
}

.admin-product-cardtext {
  margin-bottom: 2rem;
}

.admin-product-stock {
  margin: 1rem 0 1rem 0;
}

.stock-form {
  margin: 1rem 0 0 0;
}

.subtext {
  display: none;
}

.admin-product-stock-input {
  width: 3rem;
  padding: .25rem .5rem;
  text-align: center;
  margin: 0 1rem;
  border: none;
  border-radius: 3px;
}

.update-stock-btn {
  padding: .4rem 1rem;
  border: none;
  background: rgb(204, 204, 204);
  border-radius: 3px;
  cursor: pointer;
}

.get-orders-btn {
  margin-bottom: 2rem;
  padding: .4rem 1rem;
  border: none;
  background: rgb(204, 204, 204);
  border-radius: 3px;
  cursor: pointer;
}

.orders {
  padding: 0 3rem;
  background: rgb(245, 245, 245);
}

.product-divider {
  height: 1px;
  background: rgb(186, 186, 186);
  width: 100%;
}

.order {
  margin: 1rem 0;
  padding: 1rem .5rem;
  background: white
}

.product-title {
  margin: 1rem 0;
  font-weight: bolder;
}

.order-row {
  padding: 0.3rem 0;
  border-bottom: 1px solid grey;
}

.order-product-row {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  padding: .25rem 0;
  border-top: 1px solid rgb(162, 162, 162);
}

.order-product-row b {
  margin-right: .75rem;
}

.order-product-row small {
  margin: .75rem;
  font-size: .8rem;
}

.admin-buttons {
  margin-top: 5rem;
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
  justify-content: center;
  background: rgb(245, 245, 245);
}

.products-admin-btn, .orders-admin-btn {
  padding: 1rem 2rem;
  margin: 0 2rem;
  background: rgb(189, 189, 189);
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.products-admin-btn:hover, .orders-admin-btn:hover {
  background: rgb(150, 150, 150);
}

.order-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 400px) {
  .admin-buttons {
    flex-direction: column;
    padding: 3rem 2rem 0 2rem;
  }

  .products-admin-btn {
    margin-bottom: 2rem;
  }

  .orders-admin-btn {
    margin-bottom: 2rem;
  }

  .admin-product {
    padding: 3rem 1.5rem 1rem 1.5rem;
  }

  .subtext {
    display: block;
    padding-top: 2rem;
    text-align: center;
  }

  .orders {
    padding: 0 1.5rem;
  }
}
